1. Project Background

The energy industry is highly sensitive to geopolitical instability, which often disrupts supply chains, inflates prices and threatens energy security. Oil prices, in particular, experience frequent spikes or crashes due to unpredictable geopolitical events. Additionally, companies and investors face challenges in systematically assessing how geopolitical factors influence energy markets.

To address these issues, this project aims to develop an index that ranks countries and regions based on their geopolitical risks. The index will quantify key risk exposures such as political stability, the rule of law and control of corruption and evaluate their impact on energy markets. Ultimately, the project seeks to optimize sourcing, trading, and investment strategies by providing actionable insights into geopolitical risk.

2. Load Libraries & Data

In [2]:
#Import Libraries
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
#Load Dataset 1
world_bank =pd.read_excel(r'C:\Users\Work\Desktop\Geopolitical_Risk_Index\Datasets\wgidataset.xlsx')
world_bank.head(10)

,codeindyr,code,countryname,year,indicator,estimate,stddev,nsource,pctrank,pctranklower,pctrankupper
0,AFGcc1996,AFG,Afghanistan,1996,cc,-1.291705,0.340507,2,4.301075,0,27.419355
1,ALBcc1996,ALB,Albania,1996,cc,-0.893903,0.315914,3,19.354839,2.688172,43.010754
2,DZAcc1996,DZA,Algeria,1996,cc,-0.566741,0.262077,4,33.333332,16.666666,52.688171
3,ASMcc1996,ASM,American Samoa,1996,cc,..,..,..,..,..,..
4,ADOcc1996,ADO,Andorra,1996,cc,1.318143,0.480889,1,87.096771,72.043015,96.774193
5,AGOcc1996,AGO,Angola,1996,cc,-1.167702,0.262077,4,9.67742,0.537634,27.419355
6,AIAcc1996,AIA,Anguilla,1996,cc,..,..,..,..,..,..
7,ATGcc1996,ATG,Antigua and Barbuda,1996,cc,0.869897,0.480889,1,80.107529,59.139786,91.39785
8,ARGcc1996,ARG,Argentina,1996,cc,-0.101317,0.210325,6,53.763439,38.709679,62.903225
9,ARMcc1996,ARM,Armenia,1996,cc,-0.473051,0.340507,2,38.172043,15.053763,59.139786

3. Exploratory Data Analysis

In [4]:
world_bank.columns.to_list()

['codeindyr',
 'code',
 'countryname',
 'year',
 'indicator',
 'estimate',
 'stddev',
 'nsource',
 'pctrank',
 'pctranklower',
 'pctrankupper']

In [5]:
world_bank.shape

(32100, 11)

In [6]:
# Filter Political Stability (pv), Rule of Law (rl), and Control of Corruption (cc)
filtered_world_bank = world_bank[world_bank['indicator'].isin(['pv', 'rl', 'cc'])]
filtered_world_bank.head(15)

,codeindyr,code,countryname,year,indicator,estimate,stddev,nsource,pctrank,pctranklower,pctrankupper
0,AFGcc1996,AFG,Afghanistan,1996,cc,-1.291705,0.340507,2,4.301075,0,27.419355
1,ALBcc1996,ALB,Albania,1996,cc,-0.893903,0.315914,3,19.354839,2.688172,43.010754
2,DZAcc1996,DZA,Algeria,1996,cc,-0.566741,0.262077,4,33.333332,16.666666,52.688171
3,ASMcc1996,ASM,American Samoa,1996,cc,..,..,..,..,..,..
4,ADOcc1996,ADO,Andorra,1996,cc,1.318143,0.480889,1,87.096771,72.043015,96.774193
5,AGOcc1996,AGO,Angola,1996,cc,-1.167702,0.262077,4,9.67742,0.537634,27.419355
6,AIAcc1996,AIA,Anguilla,1996,cc,..,..,..,..,..,..
7,ATGcc1996,ATG,Antigua and Barbuda,1996,cc,0.869897,0.480889,1,80.107529,59.139786,91.39785
8,ARGcc1996,ARG,Argentina,1996,cc,-0.101317,0.210325,6,53.763439,38.709679,62.903225
9,ARMcc1996,ARM,Armenia,1996,cc,-0.473051,0.340507,2,38.172043,15.053763,59.139786
10,ABWcc1996,ABW,Aruba,1996,cc,..,..,..,..,..,..
11,AUScc1996,AUS,Australia,1996,cc,1.877356,0.210325,6,93.548386,90.322578,99.462364
12,AUTcc1996,AUT,Austria,1996,cc,1.732164,0.210325,6,92.473122,89.247314,96.236557
13,AZEcc1996,AZE,Azerbaijan,1996,cc,-1.445619,0.275614,3,2.688172,0,17.204302
14,BHScc1996,BHS,"Bahamas, The",1996,cc,1.15681,0.418145,2,83.870964,69.892471,93.01075

In [7]:
filtered_world_bank.info()

<class 'pandas.core.frame.DataFrame'>
Index: 16050 entries, 0 to 31671
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   codeindyr     16050 non-null  object
 1   code          16050 non-null  object
 2   countryname   16050 non-null  object
 3   year          16050 non-null  int64
 4   indicator     16050 non-null  object
 5   estimate      16050 non-null  object
 6   stddev        16050 non-null  object
 7   nsource       16050 non-null  object
 8   pctrank       16050 non-null  object
 9   pctranklower  16050 non-null  object
 10  pctrankupper  16050 non-null  object
dtypes: int64(1), object(10)
memory usage: 1.5+ MB

In [8]:
#Check for missing values
filtered_world_bank.isnull().sum()

codeindyr       0
code            0
countryname     0
year            0
indicator       0
estimate        0
stddev          0
nsource         0
pctrank         0
pctranklower    0
pctrankupper    0
dtype: int64

In [9]:
#check for duplicates
filtered_world_bank.duplicated().value_counts()

False    16050
Name: count, dtype: int64

In [10]:
#check for data types
filtered_world_bank.dtypes

codeindyr       object
code            object
countryname     object
year             int64
indicator       object
estimate        object
stddev          object
nsource         object
pctrank         object
pctranklower    object
pctrankupper    object
dtype: object

In [11]:
#Drop columns
columns_to_drop = ['code', 'nsource', 'pctranklower', 'pctrankupper']
filtered_world_bank = filtered_world_bank.drop(columns=columns_to_drop, errors='ignore')
filtered_world_bank.head()

   codeindyr     countryname  year indicator  estimate    stddev    pctrank
0  AFGcc1996     Afghanistan  1996        cc -1.291705  0.340507   4.301075
1  ALBcc1996         Albania  1996        cc -0.893903  0.315914  19.354839
2  DZAcc1996         Algeria  1996        cc -0.566741  0.262077  33.333332
3  ASMcc1996  American Samoa  1996        cc        ..        ..         ..
4  ADOcc1996         Andorra  1996        cc  1.318143  0.480889  87.096771

In [12]:
#Convert columns to numeric
numeric_cols = ['estimate', 'pctrank', 'stddev']
filtered_world_bank[numeric_cols] = filtered_world_bank[numeric_cols].apply(pd.to_numeric, errors='coerce')
filtered_world_bank.dtypes

codeindyr       object
countryname     object
year             int64
indicator       object
estimate       float64
stddev         float64
pctrank        float64
dtype: object

In [13]:
#Pivot/Reshape the data
clean_wb_df = filtered_world_bank.pivot(
    index=['countryname', 'year'],
    columns='indicator',
    values=['estimate', 'pctrank']
)

clean_wb_df.columns = [f'{ind}_{metric}' for metric, ind in clean_wb_df.columns]
clean_wb_df.reset_index(inplace=True)
clean_wb_df.head(10)

,countryname,year,cc_estimate,pv_estimate,rl_estimate,cc_pctrank,pv_pctrank,rl_pctrank
0,Afghanistan,1996,-1.291705,-2.417310,-1.788075,4.301075,2.127660,1.507538
1,Afghanistan,1998,-1.176012,-2.427355,-1.734887,8.021390,0.531915,2.000000
2,Afghanistan,2000,-1.271724,-2.438969,-1.780661,4.787234,0.529101,1.492537
3,Afghanistan,2002,-1.251137,-2.035034,-1.673473,4.761905,1.587302,1.990050
4,Afghanistan,2003,-1.344180,-2.198372,-1.558294,4.761905,2.010050,2.985075
5,Afghanistan,2004,-1.350647,-2.295682,-1.693925,6.403941,1.941748,2.403846
6,Afghanistan,2005,-1.447252,-2.067510,-1.662966,1.463415,2.427185,2.392344
7,Afghanistan,2006,-1.446292,-2.219135,-1.879005,1.951220,1.449275,0.478469
8,Afghanistan,2007,-1.613251,-2.413373,-1.852560,0.970874,1.449275,0.478469
9,Afghanistan,2008,-1.672096,-2.691361,-1.903308,0.485437,0.480769,0.480769

Calculate Risk Scores

In [14]:
#Calculate Risk Scores
#Invert Political Stability
clean_wb_df['pv_risk'] = -1 * clean_wb_df['pv_estimate']
"""
The Higher the pv = more stable, but we want higher = riskier
"""

'\nThe Higher the pv = more stable, but we want higher = riskier\n'

In [15]:
# Normalize All Scores to 0â€“100
def normalize(series):
    return (series - series.min()) / (series.max() - series.min()) * 100

clean_wb_df['pv_risk_norm'] = normalize(clean_wb_df['pv_risk'])
clean_wb_df['rl_risk_norm'] = normalize(-1 * clean_wb_df['rl_estimate'])  # Lower rule of law = higher risk
clean_wb_df['cc_risk_norm'] = normalize(-1 * clean_wb_df['cc_estimate'])  # Lower corruption control = higher risk

In [16]:
#Weighted Composite Risk Score
weights = {
    'pv': 0.40,  # Political stability (most critical for energy projects)
    'rl': 0.30,  # Rule of law (contract enforcement)
    'cc': 0.30   # Corruption control (bribes, permits)
}

clean_wb_df['composite_risk'] = (
    weights['pv'] * clean_wb_df['pv_risk_norm'] + 
    weights['rl'] * clean_wb_df['rl_risk_norm'] + 
    weights['cc'] * clean_wb_df['cc_risk_norm']
)

In [17]:
#Rank Countries by Risk
clean_wb_df = clean_wb_df.sort_values('composite_risk', ascending=False)  # Highest risk first

In [18]:
#Categorize Risk Tiers
conditions = [
    clean_wb_df['composite_risk'] <= 30,
    clean_wb_df['composite_risk'] <= 60,
    clean_wb_df['composite_risk'] > 60
]
choices = ['Low', 'Moderate', 'High']
clean_wb_df['risk_tier'] = pd.cut(clean_wb_df['composite_risk'], bins=[0, 30, 60, 100], labels=choices)

In [19]:
clean_wb_df.head(25)

,countryname,year,cc_estimate,pv_estimate,rl_estimate,cc_pctrank,pv_pctrank,rl_pctrank,pv_risk,pv_risk_norm,rl_risk_norm,cc_risk_norm,composite_risk,risk_tier
4334,Somalia,2008,-1.848734,-3.280517,-2.590877,0.000000,0.000000,0.000000,3.280517,99.385394,100.000000,97.271847,98.935712,High
4335,Somalia,2009,-1.701694,-3.312951,-2.450297,0.000000,0.000000,0.000000,3.312951,100.000000,97.018847,93.951660,97.291152,High
4333,Somalia,2007,-1.739551,-3.228497,-2.419230,0.000000,0.000000,0.000000,3.228497,98.399631,96.360046,94.806477,96.709809,High
4336,Somalia,2010,-1.726097,-3.130971,-2.406264,0.000000,0.000000,0.000000,3.130971,96.551562,96.085080,94.502688,95.796955,High
4337,Somalia,2011,-1.715412,-3.083847,-2.338279,0.000000,0.000000,0.000000,3.083847,95.658566,94.643387,94.261412,94.934866,High
4330,Somalia,2004,-1.803035,-2.878540,-2.288664,0.000000,0.485437,0.000000,2.878540,91.768084,93.591256,96.239952,93.656596,High
4338,Somalia,2012,-1.596589,-2.860755,-2.418204,0.000000,0.000000,0.000000,2.860755,91.431082,96.338291,91.578375,92.947433,High
4332,Somalia,2006,-1.724921,-2.746350,-2.350463,0.000000,0.483092,0.000000,2.746350,89.263153,94.901769,94.476117,92.518627,High
4347,Somalia,2021,-1.795541,-2.727339,-2.282445,0.952381,0.000000,0.476190,2.727339,88.902888,93.459388,96.070743,92.420195,High
4339,Somalia,2013,-1.583604,-2.758687,-2.406621,0.000000,0.000000,0.000000,2.758687,89.496919,96.092664,91.285164,92.012116,High
4648,Syrian Arab Republic,2022,-1.776185,-2.776898,-2.069141,0.943396,0.000000,0.943396,2.776898,89.842026,88.936045,95.633676,91.307727,High
4331,Somalia,2005,-1.683112,-2.705590,-2.219452,0.000000,0.000000,0.000000,2.705590,88.490762,92.123555,93.532076,91.092994,High
2230,Iraq,2004,-1.489416,-3.180352,-1.824270,1.477833,0.000000,0.480769,3.180352,97.487298,83.743311,89.158388,90.865429,High
4346,Somalia,2020,-1.689131,-2.581469,-2.312545,1.904762,1.415094,0.476190,2.581469,86.138727,94.097677,93.667981,90.785188,High
4649,Syrian Arab Republic,2023,-1.750225,-2.750607,-2.035180,0.471698,0.000000,1.415094,2.750607,89.343811,88.215870,95.047486,90.716532,High
4646,Syrian Arab Republic,2020,-1.735396,-2.711848,-2.088908,0.476190,0.000000,0.952381,2.711848,88.609345,89.355236,94.712661,90.664107,High
4647,Syrian Arab Republic,2021,-1.798744,-2.659650,-2.082139,0.476190,0.471698,0.952381,2.659650,87.620220,89.211673,96.143052,90.654506,High
4645,Syrian Arab Republic,2019,-1.707913,-2.730469,-2.088243,1.428571,0.471698,0.952381,2.730469,88.962213,89.341135,94.092081,90.614850,High
4642,Syrian Arab Republic,2016,-1.593034,-2.906036,-1.993623,1.904762,0.000000,0.952381,2.906036,92.289132,87.334615,91.498099,90.565467,High
5294,"Yemen, Rep.",2018,-1.658392,-2.996235,-1.806026,0.952381,0.000000,1.904762,2.996235,93.998357,83.356428,92.973891,90.498438,High
4340,Somalia,2014,-1.663481,-2.515828,-2.355670,0.000000,1.904762,0.000000,2.515828,84.894855,95.012195,93.088792,90.388238,High
4348,Somalia,2022,-1.792611,-2.429696,-2.287279,0.471698,1.886792,0.000000,2.429696,83.262688,93.561887,96.004580,90.175015,High
4644,Syrian Arab Republic,2018,-1.648251,-2.736456,-2.054641,1.428571,0.943396,0.952381,2.736456,89.075658,88.628569,92.744898,90.042304,High
4345,Somalia,2019,-1.724368,-2.386403,-2.380592,0.476190,2.830189,0.000000,2.386403,82.442304,95.540690,94.463638,89.978220,High
5293,"Yemen, Rep.",2017,-1.616803,-2.934317,-1.757111,1.428571,0.000000,2.380952,2.934317,92.825050,82.319134,92.034801,89.436200,High

In [20]:
#Load Dataset 2

file_path = r"C:\Users\Work\Desktop\Geopolitical_Risk_Index\Datasets\Statistical Review of World Energy Data.xlsx"

# List all available sheets
sheets = pd.ExcelFile(file_path).sheet_names
print("Available sheets:", sheets) 
possible_names = [
    "Oil Production-barrels",
    "Oil Production - barrels",
    "Oil_Production-barrels",
    "Oil Production"  
]

for name in possible_names:
    try:
        df = pd.read_excel(file_path, sheet_name=name)
        print(f"Success! Using sheet: {name}")
        break
    except:
        continue

Available sheets: ['Contents', 'Total Energy Supply (TES) -EJ', 'TES by fuel', 'TES per Capita', 'CO2 from Energy', 'Natural Gas Flaring', 'CO2 from Flaring', 'CO2-Process Emissions, Methane', 'CO2e Emissions ', 'CCUS Capture Capacity', 'Carbon Prices', 'Oil - Proved reserves', 'Oil - Proved reserves history', 'Oil Production - barrels', 'Oil Production - tonnes', 'Crude+cond production - barrels', 'NGLs production - barrels', 'Liquids Consumption - barrels', 'Oil Consumption - barrels', 'Oil Consumption - Tonnes', 'Oil Consumption - EJ', 'Oil - Regional Consumption', 'Spot crude prices', 'Oil crude prices since 1861', 'Oil refinery - throughput', 'Oil refinery - capacity', 'Oil - Regional refining margins', 'Oil trade movements', 'Oil - Inter-area movements', 'Oil - Trade movements in 23-24', 'Gas - Proved reserves', 'Gas - Proved reserves history ', 'Gas Production - Bcm', 'Gas Production - bcf', 'Gas Production - EJ', 'Gas Consumption - Bcm', 'Gas Consumption - Bcf', 'Gas Consumption - EJ', 'Gas - H2 Production Capacity', 'Gas Prices ', 'Gas - Trade movements', 'Gas - LNG imports bcm', 'Gas - LNG exports bcm', 'Gas trade 2024 - LNG', 'Gas trade 2024 - pipeline', 'Coal - Reserves', 'Coal Production - mt', 'Coal Production - EJ', 'Coal Consumption - EJ', 'Coal & Uranium - Prices', 'Coal - Trade movements', 'Coal trade movements 2024', 'Nuclear Generation - TWh', 'Nuclear Consumption - EJ', 'Hydro Generation - TWh', 'Hydro Consumption - EJ', 'Renewables Consumption -EJ', 'Renewable Power (inc hydro) -EJ', 'Ren power (excl hydro) - EJ', 'Renewable Power (inc hydro)-TWh', 'Ren power (excl hydro) - TWh', 'Renewables Generation by Source', 'Solar Generation - TWh', 'Solar Consumption - EJ', 'Solar Installed Capacity', 'Wind Generation - TWh', 'Wind Consumption - EJ', 'Wind Installed Capacity', 'Wind and Solar Technology Types', 'Geo Biomass Other - TWh', 'Geo Biomass Other - EJ', 'Biofuels production - kboed', 'Biofuels production - PJ', 'Biofuels Consumption - kboed', 'Biofuels consumption - PJ', 'Electricity Generation - TWh', 'Elec generation by fuel', 'Oil inputs - Elec generation ', 'Gas inputs - Elec generation', 'Coal inputs - Elec generation ', 'Other inputs - Elec generation', 'Grid Scale BESS Capacity', 'Cobalt P-R', 'Lithium P-R', 'Natural Graphite P-R', 'Rare Earth metals P-R', 'Copper P-R', 'Manganese P-R', 'Nickel P-R', 'Zinc P-R', 'Platinum Group Metals P-R', 'Bauxite P-R', 'Aluminium P-R', 'Tin P-R', 'Vanadium P-R', 'Mineral Commodity Prices', 'Primary Energy Cons (old meth)', 'PE Cons by fuel (old meth) ', 'Approximate conversion factors', 'Definitions']
Success! Using sheet: Oil Production - barrels

In [21]:
oil_producing_countries= pd.read_excel(file_path,'Oil Production - barrels' )
oil_producing_countries.head(20)

,Oil: Production*,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 54,Unnamed: 55,Unnamed: 56,Unnamed: 57,Unnamed: 58,Unnamed: 59,Unnamed: 60,Unnamed: 61,Unnamed: 62,Unnamed: 63
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Growth rate per annum,NaN,Share
1,Thousand barrels daily,1965.000000,1966.000000,1967.000000,1968.000000,1969.000000,1970.000000,1971.000000,1972.000000,1973.000000,...,2018.000000,2019.000000,2020.000000,2021.000000,2022.000000,2023.000000,2024.000000,2024,2014-24,2024
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Canada,920.000000,1012.000000,1106.000000,1194.000000,1306.000000,1473.000000,1582.000000,1829.000000,2114.000000,...,5243.879959,5370.800637,5128.318327,5413.763836,5574.555231,5647.625892,5888.011172,0.042564,0.032639,0.06077
4,Mexico,362.000000,370.000000,411.000000,439.000000,461.000000,487.000000,486.000000,506.000000,525.000000,...,2068.371301,1918.142844,1909.906448,1926.317482,1943.042608,2039.800359,1910.924309,-0.063181,-0.036938,0.019723
5,US,9014.148000,9579.241000,10219.252000,10599.743000,10827.674000,11296.849000,11155.778000,11184.896000,10945.953000,...,15328.948712,17138.290726,16497.652902,16733.029233,17925.396685,19433.491562,20135.121157,0.036104,0.054926,0.207814
6,Total North America,10296.148000,10961.241000,11736.252000,12232.743000,12594.674000,13256.849000,13223.778000,13519.896000,13584.953000,...,22641.199973,24427.234207,23535.877676,24073.110551,25442.994524,27120.917813,27934.056638,0.029982,0.040113,0.288307
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Argentina,275.673973,292.864110,318.631233,348.158470,361.532055,399.464658,431.538082,444.115847,433.635616,...,591.666400,719.622750,721.032971,796.523174,954.985992,1071.722790,1214.128151,0.132875,0.066528,0.012531
9,Brazil,96.050000,117.050000,147.050000,161.050000,176.050000,166.681031,174.845001,171.186291,173.986204,...,2690.961662,2889.715185,3030.270809,2991.347090,3112.490652,3499.157732,3465.601109,-0.00959,0.039994,0.035768
10,Colombia,203.000000,199.000000,192.000000,176.000000,214.000000,226.000000,224.000000,203.000000,192.000000,...,865.480983,885.829726,781.082600,736.356164,754.321095,779.233462,772.646204,-0.008454,-0.024521,0.007974
11,Ecuador,8.000000,7.000000,6.000000,5.000000,4.000000,4.000000,4.000000,78.000000,209.000000,...,517.239647,531.002968,479.370824,472.881169,480.967381,475.274364,475.283599,0.000019,-0.015661,0.004905
12,Guyana,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,1.169863,74.303279,116.917808,277.835616,391.180822,615.940164,0.574566,-,0.006357
13,Peru,66.000000,66.000000,74.000000,77.000000,75.000000,74.972603,63.882192,66.601093,72.591781,...,138.646495,143.981685,131.497852,127.765151,128.463665,123.467252,124.664521,0.009697,-0.033472,0.001287
14,Trinidad & Tobago,135.000000,153.000000,179.000000,191.000000,157.000000,140.000000,129.000000,141.000000,166.000000,...,87.316538,82.221229,76.203808,76.595983,73.737968,73.940821,73.984399,0.000589,-0.04241,0.000764
15,Venezuela,3503.000000,3402.000000,3576.000000,3639.000000,3631.000000,3754.000000,3615.000000,3301.000000,3455.000000,...,1659.489321,1053.197644,675.565422,664.809984,726.014643,842.659382,960.054157,0.139315,-0.097984,0.009909
16,Other S. & Cent. America,47.134521,54.411096,78.214247,84.571311,83.804658,63.946712,80.384658,89.237158,89.738904,...,127.810696,121.175097,112.405954,113.737875,109.003501,100.888471,95.513418,-0.053277,-0.046407,0.000986
17,Total S. & Cent. America,4333.858493,4291.325205,4570.895479,4681.779781,4702.386712,4829.065003,4722.649933,4494.140389,4791.952505,...,6678.611743,6427.916147,6081.733517,6096.934398,6617.820513,7357.525095,7797.815721,0.059842,0.001767,0.080481
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,Denmark,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000,3.000000,...,115.876702,102.956391,72.039209,66.419925,65.355072,59.961328,60.486150,0.008753,-0.096485,0.000624

In [22]:
# Check for non-numeric/missing values
print("Non-numeric values per column:")
print(oil_producing_countries.isna().sum())
print("\nUnique values sample:", oil_producing_countries.iloc[:, 1].unique()[:10])  # Check first year column

Non-numeric values per column:
Oil: Production*     9
Unnamed: 1          18
Unnamed: 2          18
Unnamed: 3          18
Unnamed: 4          18
                    ..
Unnamed: 59         18
Unnamed: 60         18
Unnamed: 61         17
Unnamed: 62         18
Unnamed: 63         17
Length: 64, dtype: int64

Unique values sample: [           nan 1.96500000e+03 9.20000000e+02 3.62000000e+02
 9.01414800e+03 1.02961480e+04 2.75673973e+02 9.60500000e+01
 2.03000000e+02 8.00000000e+00]

In [23]:
for col in oil_producing_countries.columns[1:]:  # Skip 'Country' column
    # Step 1: Convert to string, remove commas/letters
    oil_producing_countries[col] = oil_producing_countries[col].astype(str).str.replace('[^0-9.]', '', regex=True)
    
    # Step 2: Convert to float (handles 'nan' properly)
    oil_producing_countries[col] = pd.to_numeric(oil_producing_countries[col], errors='coerce')
    
    # Step 3: Fill NA and convert to int
    oil_producing_countries[col] = oil_producing_countries[col].fillna(0).astype(int)

oil_producing_countries.head()

,Oil: Production*,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 54,Unnamed: 55,Unnamed: 56,Unnamed: 57,Unnamed: 58,Unnamed: 59,Unnamed: 60,Unnamed: 61,Unnamed: 62,Unnamed: 63
0,NaN,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,Thousand barrels daily,1965,1966,1967,1968,1969,1970,1971,1972,1973,...,2018,2019,2020,2021,2022,2023,2024,2024,201424,2024
2,NaN,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,Canada,920,1012,1106,1194,1306,1473,1582,1829,2113,...,5243,5370,5128,5413,5574,5647,5888,0,0,0
4,Mexico,362,370,411,439,461,487,486,506,525,...,2068,1918,1909,1926,1943,2039,1910,0,0,0

In [24]:
oil_producing_countries = oil_producing_countries[oil_producing_countries[col].astype(str).str.isnumeric()]  # Keep only rows with valid numbers
oil_producing_countries.head()

,Oil: Production*,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 54,Unnamed: 55,Unnamed: 56,Unnamed: 57,Unnamed: 58,Unnamed: 59,Unnamed: 60,Unnamed: 61,Unnamed: 62,Unnamed: 63
0,NaN,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,Thousand barrels daily,1965,1966,1967,1968,1969,1970,1971,1972,1973,...,2018,2019,2020,2021,2022,2023,2024,2024,201424,2024
2,NaN,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,Canada,920,1012,1106,1194,1306,1473,1582,1829,2113,...,5243,5370,5128,5413,5574,5647,5888,0,0,0
4,Mexico,362,370,411,439,461,487,486,506,525,...,2068,1918,1909,1926,1943,2039,1910,0,0,0

In [25]:
#Promote  first row to column names
oil_producing_countries = oil_producing_countries.rename(columns=oil_producing_countries.iloc[0]).drop(0)

# Reset index
oil_producing_countries= oil_producing_countries.reset_index(drop=True)
oil_producing_countries.head()

,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
0,Thousand barrels daily,1965,1966,1967,1968,1969,1970,1971,1972,1973,...,2018,2019,2020,2021,2022,2023,2024,2024,201424,2024
1,NaN,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,Canada,920,1012,1106,1194,1306,1473,1582,1829,2113,...,5243,5370,5128,5413,5574,5647,5888,0,0,0
3,Mexico,362,370,411,439,461,487,486,506,525,...,2068,1918,1909,1926,1943,2039,1910,0,0,0
4,US,9014,9579,10219,10599,10827,11296,11155,11184,10945,...,15328,17138,16497,16733,17925,19433,20135,0,0,0